* {
	box-sizing: border-box;
}

body {
  transition: all 0.5s;
	margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 190%;
  color: #767676;
}

.heading {
	padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #353535;
}

b { 
  color: #353535;
}

.linebr {
  border: solid 0.5px #EEEEEE;
  margin: 0 5% 0 5%;
}

.TitleBar {
  margin: 20px 0 0;
}
#iuya3{
  margin: 20px 0 0;
}
.icon {
  width:30px;
  height:30px;
  display: inline-block;
  transition: all 0.2s;
  margin:10px;
}
.icon:hover {
  transform: translateY(-4px);
}

.subheading {
  margin: 0 0 10px 0;
	color: #767676;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	font-size: 20px;
	padding: 10px;
}

.paragraph {
	padding: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}
.paragraphnospace {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

.portfoliocard .heading {
  font-size: 24px;
}

.bdg-sect {
	padding-top: 100px;
	padding-bottom: 100px;
}

.row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
	padding: 10px;
}

.cell {
	min-height: 75px;
	flex-grow: 1;
	flex-basis: 100%;
}

#ipf3 {
	flex-basis: 11.4%;
	margin: 0 10px 0 0;
}

#i0mk {
	flex-basis: 70%;
}

#ilnj {
	padding: 50px 5% 50px 5%;

}

#i6z1s {
	margin: 0 0 0 0;
	padding: 50px 5% 50px 5%;
	background-image: linear-gradient(#ffffff, #ffffff);
	background-repeat: repeat;
	background-position: left top;
	background-attachment: scroll;
	background-size: auto;
}

#i6js2 {
	margin: 0 0 0 0;
	padding: 50px 5% 50px 5%;
}

#idm2d {
	font-size: small;
	color: #767676;
}

#iii6l {
	margin: 0 0 0 0;
	padding: 50px 5% 50px 5%;
}

#contactme {
	text-align: center;
}

#iwtd4 {
	text-align: center;
}

#i4l5w {
	flex-basis: 20%;
}

#ihqy2 {
	flex-basis: 20%;
}

#i732e {
	text-align: center;
}

#irr55 {
	text-align: center;
}

#i6z1s {
	margin: 0 0 0 0;
	padding: 50px 5% 50px 5%;
	background-image: none;
	background-repeat: repeat;
	background-position: left top;
	background-attachment: scroll;
	background-size: auto;
}

#in14pj {
	margin: 0 0 0 0;
	padding: 35px 5% 0 5%;
}

#iizsxj {
	margin: 0 2% 0 2%;
}

#i1cryo {
	padding: 40px 0 40px 0;
	letter-spacing: normal;
}

#iuj0ql {
	color: black;
	width: 100%;
}

#i8luvp {
	margin: 10px 0 0 0;
}

#i9z6kq {
	margin: 0 0 10px 0;
}

#iogngy {
	margin: 0 2% 0 2%;
}

#iablf {
	color: black;
	width: 100%;
}

#i86sq {
	margin: 10px 0 0 0;
}

#iv7yo {
	margin: 0 0 10px 0;
}

#ik0ol {
	color: black;
	width: 100%;
}

#ikcqr {
	margin: 10px 0 0 0;	
}

#izl3j {
	margin: 0 0 10px 0;
}

#imxwe {
	margin: 0 2% 0 2%;
}

#izq3m {
	color: black;
	width: 100%;
}

#i2nkh {
	margin: 10px 0 0 0;
}

#i7o3y {
	margin: 0 0 10px 0;
}

#ijys7 {
	margin: 0 2% 0 2%;
}

#io3j7 {
	padding: 40px 0 40px 0;
	letter-spacing: normal;
}

#i7g5m {
	color: black;
	width: 100%;
}

#ipjz5 {
	margin: 10px 0 0 0;
}

#iyojl {
	margin: 0 0 10px 0;
}

#igaiu {
	margin: 0 2% 0 2%;
}

#i2vat {
	color: black;
	width: 100%;
}

#ibqf5 {
	margin: 10px 0 0 0;
}

#initd {
	margin: 0 0 10px 0;
}

#i047i {
	margin: 0 2% 0 2%;
}

#ixnnf {
	padding: 40px 0 40px 0;
	letter-spacing: normal;
}

#irjdt {
	color: black;
	width: 100%;
}

#i3i27 {
	margin: 10px 0 0 0;
}

#ib9zx {
	margin: 0 0 10px 0;
}

#ijb1c8 {
	margin: 0 2% 0 2%;
}

#iuxu2c {
	color: black;
	width: 100%;
}

#izx8si {
	margin: 10px 0 0 0;
}

#i8yx3o {
	margin: 0 0 10px 0;
}

#im646t {
	margin: 0 2% 0 2%;
}

#ic3l1o {
	padding: 40px 0 40px 0;
	letter-spacing: normal;
}

#i7nsc {
	margin: 0 0 0 0;
	padding: 35px 5% 35px 5%;
}

#igvdyg {
	font-size: 26.6667px;
	font-variant-ligatures: none;
	white-space: pre-wrap;
}

#itpsh8 {
	padding: 10px 15px 10px 15px;
}

#i6fzwm {
	padding: 10px 15px 10px 15px;
}

#ibao47 {
	padding: 10px 15px 10px 15px;
}

#iij5r8 {
	font-family: "Open sans";
	font-size: 13pt;
	font-variant-ligatures: none;
	white-space: pre-wrap;
	text-decoration-line: none;
	outline: 0px;
	pointer-events: all;
}

#i4f29y {
		padding: 0;
}

#i3xpro {
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
	.row {
		flex-wrap: wrap;
	}
}

@media (max-width: 480px) {
	#i4f29y {
		padding: 10px 0 10px 0;
	}
}