.cm-s-rdark {
	font-size: 13.5px;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #1B242600;
	color: #dddddd;
}
.cm-s-rdark .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-rdark .CodeMirror-gutters {
	box-shadow: none;
	background-color: #1B242600;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-rdark div.CodeMirror-cursor {
	border-left: 3px solid #808080;
}
.cm-s-rdark .CodeMirror-activeline-background {
	background: #FFFFFF20;
}
.cm-s-rdark .CodeMirror-selected {
	background: #E0E8FF66;
}
.cm-s-rdark .cm-comment {
	color: #646763;
}
.cm-s-rdark .cm-string {
	color: #6aa7f7;
}
.cm-s-rdark .cm-number {
	color: #6aa7f7;
}
.cm-s-rdark .cm-atom {
	color: null;
}
.cm-s-rdark .cm-keyword {
	color: #ff738a;
}
.cm-s-rdark .cm-variable {
	color: #8dc4f2;
}
.cm-s-rdark .cm-def {
	color: #FFFFFF;
}
.cm-s-rdark .cm-variable-2 {
	color: #FFFFFF;
}
.cm-s-rdark .cm-property {
	color: null;
}
.cm-s-rdark .cm-operator {
	color: #5BA1CF;
}
.cm-s-rdark .CodeMirror-linenumber {
	color: #646763;
}