* {
 font-family: "Roboto Mono";
}

body {
  max-width: 720px;
  width: 80%;
  height: 80vh;
  margin:10vw auto 90vw auto;
  background-color: #1b2026
}

h1 {
  font-size: 48px;
  margin: 0 0 8px 0;
}

.CodeMirror {
    height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: #88888850; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}